@charset "utf-8";
.container header {
	background-color: #EFB2B3;
}
.container header nav {
	background-color: #F1B9BA;
}
.container #hero {
	background-image: url(images/%E5%B0%81%E9%9D%A2.jpg);
}
.container #about {
	background-image: -webkit-linear-gradient(270deg,rgba(247,176,177,1.00) 0%,rgba(255,255,255,1.00) 98.34%);
	background-image: -moz-linear-gradient(270deg,rgba(247,176,177,1.00) 0%,rgba(255,255,255,1.00) 98.34%);
	background-image: -o-linear-gradient(270deg,rgba(247,176,177,1.00) 0%,rgba(255,255,255,1.00) 98.34%);
	background-image: linear-gradient(180deg,rgba(247,176,177,1.00) 0%,rgba(255,255,255,1.00) 98.34%);
}
.container .banner {
	background-image: url(images/%E5%B0%81%E9%9D%A2.jpg);
}
.container #contact {
	background-image: url(images/%E5%B0%81%E9%9D%A2.jpg);
}
.container .copyright {
	background-color: #F8A8A9;
}
